<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mobile_Shop_Management_System.Properties.Settings.PhonesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Phones.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Mobile_Shop_Management_System.Properties.Settings.PhonesConnectionString0"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Kinchit\Documents\Phones.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>